@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Правки */
.bc1 .ptb,
.bc2 .ptb,
.bc3 .ptb,
.bc4 .ptb,
.bc5 .ptb,
.bc6 .ptb {
    white-space: nowrap;
}

.menu__wrapper-multitool-links,
.menu__wrapper-bracelet-links,
.menu__wrapper-clock-links,
.menu__wrapper-knife-links,
.menu__wrapper-pockettool-links,
.menu__wrapper-accessory-links {
    padding-left: 25px !important;
}

@media (max-width: 320px) {
    .item__buttons {
        justify-content: center !important;
    }

    .item__buttons-inbasket-catalog {
        background-image: none;
        width: 260px;
        right: 25px;
        position: relative;
    }

    .item__buttons-inbasket {
        left: 0 !important;
    }
}

@media (max-width: 768px) {
    .item__buttons {
        justify-content: center !important;
    }
}

@media (max-width: 1240px) {
    .menu__wrapper-title {
        text-align: center;
        margin-right: 55px;
    }
}

@media (min-width: 1240px) {
    .menu__wrapper-title {
        text-align: center;
        margin-right: 55px;
    }
}

/* Стили Pop-UP Начало */
button.item__buttons-fastlook,
button.item__buttons-detail {
    background-color: #ffffff;
    width: 166px;
    height: 40px;
    border: 0;
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.b-container {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0px auto;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

.b-popup {
    width: 270px;
    height: 360px;
    background-color: rgba(0, 0, 0, 0.37);
    overflow: hidden;
    position: absolute;
    margin-top: -45px;
    opacity: 0;
}

/* .b-popup-city,
.b-popup-city--choosecitycity*/
.b-popup .b-popup-content,
.b-popup-content-city {
    margin: 214px auto 0px auto;
}

button.item__buttons-detail {
    margin-top: 28px;
}

.item__image {
    max-height: 288px;
}

.item__image--img {
    margin-left: auto;
    margin-right: auto;
}

.item__image:hover .b-popup {
    width: 252px;
    height: 602px;
    opacity: 1;
    transition: opacity 0.3s;
}

.b-popup--show {
    opacity: 1;
    transition: opacity 0.3s;
    display: block;
}

.item__buttons--img {
    width: 100px;
    height: 288px;
}

.pop-up--city {
    font-family: sans-serif;
    width: 262px;
    height: 146px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    margin: 214px auto 0px auto;
}

.pop-up--citytitle {
    width: 143px;
    height: 16px;
    color: #9b9b9b;
    font-size: 14px;
    text-align: left;
    margin-left: 18px;
    margin-right: auto;
}

.pop-up--youcity {
    color: #4a4a4a;
}

.pop-up--cityconteinertitle {
    display: flex;
}

.pop-up--yes {
    width: 55px;
    height: 32px;
    border: 0;
    border-radius: 3px;
    background-color: #f7bb03;
    color: #ffffff;
    font-size: 12px;
    margin-left: 18px;
    top: 18px;
    position: relative;
}

.pop-up--no {
    width: 156px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #979797;
    background-color: #ffffff;
    color: #9b9b9b;
    font-size: 12px;
    top: 18px;
    position: relative;
}

.pop-up--cityinfo {
    color: #9b9b9b;
    font-size: 12px;
    margin: 27px 18px 0 18px;
}

.b-popup-city,
.b-popup-city--choosecitycity,
.b-popup-city__02,
.popup__prodyct-cart {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup-content-city {
    border-radius: 4px;
    background-color: #ffffff;
}

.b-popup-content-city-02 {
    width: 779px;
    height: 281px;
    box-shadow: 0 1px 8px rgba(189, 189, 189, 0.5);
    background-color: #ffffff;
    margin: 214px auto 0px auto;
}

.b-popup-content-city-03 {
    width: 869px;
    height: 535px;
    box-shadow: 0 1px 8px rgba(189, 189, 189, 0.5);
    background-color: #ffffff;
    margin: 214px auto 0px auto;
}

.choosecitycity__cancel {
    width: 25px;
    right: 16px;
    height: 25px;
    top: 15px;
    position: relative;
}

.choosecitycity__cancelsmall {
    margin-right: 5px;
    border: 0;
    background-color: transparent;
    height: 28px;
}

.pop-up--choosecitycity--head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f7bb03;
    margin-bottom: 13px;
    padding-bottom: 15px;
}

.choosecitycity--city {
    border-radius: 3px;
    border: 1px solid #979797;
    background-color: #ffffff;
    opacity: 0.47;
    color: #9b9b9b;
    font-family: sans-serif;
    font-size: 14px;
    width: 480px;
    height: 39px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input.choosecitycity--city label::after {
    content: "";
    background-image: url("../images/icon/svg/search.svg");
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    margin-left: 20px;
    margin-top: 5px;
}

.choosecity__all--list {
    display: flex;
    bottom: 15px;
    position: relative;
}

.choosecity--list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 28px;
}

.choosecity--list li {
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 12px;
    padding: 15px;
    padding-left: 0;
}

.choosecity--footer {
    color: #9b9b9b;
    font-family: sans-serif;
    font-size: 12px;
    width: 453px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #9b9b9b;
    padding: 15px;
    padding-left: 0;
}

.choosecitycity__cancel {
    border: 0;
    background-color: transparent;
}

input.choosecitycity--city[type="text"] {
    color: #000000;
}

.choosecitycity--citysvg {
    width: 20px;
    height: 20px;
    fill: #d8d8d8;
}

.choosecitycity--city--search svg {
    position: relative;
    left: 460px;
    bottom: 30px;
}

#color-placeholder::-webkit-input-placeholder {
    color: #000000;
}

.choosecity__maybe {
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 25px;
    border-bottom: 1px solid #9b9b9b;
    padding-bottom: 15px;
    width: 475px;
    bottom: 15px;
    position: relative;
}

.choosecity__maybe--span {
    color: #9b9b9b;
}

.pop-up--choosecitytitle {
    color: #4a4a4a;
    font-family: sans-serif;
    margin-left: 25px;
    font-size: 14px;
}

.content-city02--title {
    color: #353535;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.content-city--pass {
    color: #4a90e2;
}

.content-city02--info {
    color: #000000;
    font-weight: 500;
}

.content-city--closed {
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #979797;
    width: 169px;
    height: 35px;
    display: block;
    margin-left: auto;
    left: 55px;
    position: relative;
    margin-top: 15px;
}

.content-city02--container {
    padding-top: 47px;
    padding-left: 57px;
    padding-right: 92px;
}

.popup03__container--head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f7bb03;
    padding-bottom: 15px;
}

.popup03__container--title {
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 20px;
}

.tools__info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e8eaef;
    width: 80px;
    height: 46px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.case__info {
    top: 55px;
    left: 5px;
    width: 122px;
    height: 55px;
    position: absolute;
    font-size: 13px;
    background-color: #ffffff;
    border: 4px solid rgba(247, 187, 3, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sale-percent__info {
    top: 5px;
    right: 10px;
    width: 58px;
    height: 58px;
    left: 335px;
    position: absolute;
    background-color: #ffffff;
    border: 4px solid rgba(247, 187, 3, 0.2);
    border-radius: 50%;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.prodyct__info {
    display: flex;
    position: relative;
    right: 599px;
    margin-top: 1px;
    z-index: 999999;
    width: 0;
}

.btn__like {
    background-color: #ffffff;
    width: 46px;
    height: 46px;
    border: 1px solid #e8eaef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    fill: #e8eaef;
    overflow: visible !important;
}

.btn__like--svg {
    overflow: visible !important;
    width: 25px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
}

.btn__like:hover {
    border: 1px solid black;
    fill: black;
}

.btn__comparison {
    background-color: #ffffff;
    width: 46px;
    height: 46px;
    border: 1px solid #e8eaef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    fill: #e8eaef;
    overflow: visible !important;
}

.btn__comparison:hover {
    border: 1px solid black;
    fill: black;
}

.btn__comparison--svg {
    overflow: visible !important;
    width: 25px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
}

.button__prodyct--like {
    position: relative;
    right: 187px;
}

.buy__item--info {
    position: relative;
    margin-left: auto;
    right: 167px;
    width: 257px;
}

.buy-card--info {
    border: 1px solid #979797;
    height: 129px;
}

.buy-card--header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.buy-card--buttons--info {
    margin: 25px 5px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.best-price--info {
    margin: 0 0 0 10px;
}

.btn-yellow--info {
    width: 116px;
    height: 30px;
    background-color: #f7bb03;
    border: 0;
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 10px;
}

.btn-clear--info {
    width: 116px;
    height: 30px;
    border: 1px solid #979797;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 10px;
}

.shipping__info {
    margin-top: 17px;
}

.new-price--info {
    margin-top: 10px;
    margin-left: 10px;
    color: #000000;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 700;
}

.old-price--info {
    margin-left: 10px;
    color: #000000;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-decoration: line-through;
}

.in-stock--info {
    color: #9b9b9b;
    font-family: sans-serif;
    font-size: 8px;
    width: 67px;
    height: 16px;
    box-shadow: 0 0 4px rgba(145, 145, 145, 0.5);
    background-color: #ffffff;
}

.in-stock--infoimg {
    top: 3px;
    margin-left: 5px;
    position: relative;
}

.bonuses__info {
    color: #9b9b9b;
    font-family: sans-serif;
    font-size: 8px;
    margin-top: 11px;
}

.stock__info {
    right: 16px;
    position: relative;
    top: 17px;
}

.best-price--info {
    color: #244061;
    font-family: sans-serif;
    font-size: 9px;
    text-decoration: underline;
}

.shipping__info {
    width: 257px;
    height: 142px;
    border: 1px solid #979797;
    background-color: #ffffff;
}

.shipping__info--title {
    height: 39px;
    background-color: #e6e6e6;
    color: #352727;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 20px;
}

.shipping-desc--info {
    color: #9b9b9b;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    padding-left: 18px;
}

.shipping__advantages--img {
    display: flex;
    width: 257px;
    height: 95px;
    border: 1px solid #979797;
    margin-top: 17px;
}

.shipping__advantages--desc {
    padding: 5px;
    width: 85px;
}

.shipping__advantages--desc-img {
    border: 4px solid rgba(247, 187, 3, 0.5);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shipping__advantages--desc-text {
    text-align: center;
    color: black;
    margin-top: 6px;
    font-size: 12px;
}

.btn__show--video {
    width: 50px;
    height: 50px;
    left: 300px;
    top: 7px;
    border: 1px solid grey;
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    fill: black;
}

.btn__show--video:hover {
    fill: grey;
}

.btn__show--3d {
    width: 50px;
    height: 50px;
    left: 305px;
    top: 7px;
    border: 1px solid grey;
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    fill: black;
}

.btn__show--3d:hover {
    fill: grey;
}

.prodyct__info--01 {
    display: flex;
}

.prodyct__info--02 {
    display: flex;
}

.buy__item--info-01 {
    width: 420px;
}

.buy-card--info-01 {
    width: 420px;
    height: 210px;
    border: 4px solid #e8eaef;
    background-color: #ffffff;
    margin-bottom: 27px;
}

.new-price--info-01 {
    color: #000000;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.old-price--info-01 {
    color: #000000;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}

.buy-card--header-01 {
    display: flex;
    justify-content: space-between;
}

.btn-yellow--info-01 {
    width: 182px;
    height: 48px;
    border: 1px solid #f7bb03;
    background-color: #f7bb03;
    color: #000000;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: 35px;
    margin-left: 20px;
}

.btn-clear--info-01 {
    width: 182px;
    height: 48px;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: 35px;
}

.best-price--info-01 {
    color: #336a9d;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 20px;
    top: 45px;
    position: relative;
}

.shipping__info-01 {
    width: 420px;
    height: 220px;
    border: 1px solid #e8eaef;
    background-color: #ffffff;
    margin-bottom: 27px;
}

.shipping__info--title-01 {
    color: #000000;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: 50px;
    position: relative;
    bottom: 7px;
}

.shipping__info--title-02 {
    width: 420px;
    height: 60px;
    background-color: #e8eaef;
}

.shipping__info--title--svg {
    width: 37px;
    height: 40px;
    position: relative;
    top: 10px;
    right: 20px;
}

.shipping-desc--info-01 {
    color: #000000;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
}

.shipping-desc--info-01 span {
    font-weight: 400;
}

.shipping__advantages--img-01 {
    display: flex;
    justify-content: space-between;
}

.shipping__advantages--img-01 {
    width: 420px;
    height: 140px;
    border: 1px solid #e8eaef;
}

.shipping__advantages--desc-01 {
    width: 67px;
    margin-top: 20px;
    margin-left: 35px;
}

.shipping__advantages--desc-img-01 {
    width: 66px;
    height: 66px;
    border: 4px solid #fceeca;
    border-radius: 50px;
    padding: 8px;
}

.shipping__advantages--desc-text-01 {
    color: #000000;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-top: 9px;
}

.shipping__advantages--desc-02 {
    width: 67px;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.shipping__advantages--desc-03 {
    width: 67px;
    margin-top: 20px;
    margin-right: 39px;
}

.shipping__advantages--desc-text-03 {
    right: 19px;
    width: 100px;
    position: relative;
}

.shipping-desc--info-svg {
    fill: #a1a1a1;
    top: 8px;
    position: relative;
}

.in-stock--info-01 {
    width: 107px;
    height: 27px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 6px;
    color: #000000;
    display: flex;
}

.bonuses__info-01 {
    color: #a1a1a1;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 14px;
}

.in-stock--info-02 {
    color: #000000;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
}

.stock__info-01 {
    margin-top: 27px;
    margin-left: 19px;
}

.stock__info-02 {
    margin-top: 27px;
    margin-right: 25px;
}

.in-stock--infoimg-01 {
    fill: #00920e;
}

.bonuses__info-01--svg {
    fill: #f7bb03;
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    left: 5px;
}

.shipping__info-popup {
    background-image: url(/images/img/bonuses-info.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #ffffff;
    color: #000000;
    width: 320px;
    height: 175px;
    position: relative;
    bottom: 724px;
    left: 97px;
    display: none;
}

.shipping__info-popup--show {
    display: block;
    transition: opacity 0.3s;
}

.shipping__info-popup-text {
    color: #000000;
    width: 245px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    left: 40px;
    top: 20px;
    position: relative;
}

.shipping__info-popup--svg {
    fill: #b0b1b1;
    position: relative;
    left: 279px;
    top: 25px;
}

.gallery__prodyct--img-01 {
    display: flex;
    padding-top: 50px;
}

/* Стили Pop-UP  конец*/

/* Стили таблица продуктов */
table {
    border-collapse: collapse;
}

.prodyct__table--ilst {
    max-width: 820px;
    margin-top: 50px;
    margin: 5px;
}

th {
    padding: 15px;
}

td {
    border: 0 !important;
}

tr {
    border: 1px solid #e8eaef;
}

.prodyct__table--title {
    background-color: #e8eaef;
}

td.prodyct__table--img {
    width: 136px;
}

td.prodyct__table--discr {
    width: 273px;
    font-size: 13px;
    font-weight: 400;
}

td.prodyct__table--stock {
    width: 136px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

td.prodyct__table--price {
    text-align: center;
    width: 136px;
    font-size: 13px;
    font-weight: 700;
}

td.prodyct__table--allprice {
    width: 136px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.prodyct__table--imges {
    width: 120px;
    margin: 15px;
    border: #e8eaef 1px solid;
}

ul {
    list-style: none;
}

.list__endprice {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.list__delivery {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.list__endprice--ul li {
    font-size: 14px;
    font-weight: 700;
}

.list__endprice--ul li span {
    font-size: 14px;
    font-weight: 400;
}

.list__endprice--ul {
    padding-left: 0;
}

.list__endprice--ul li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.list__endprice--ul02 {
    font-size: 14px;
}

.list__endprice--ul02 li {
    padding: 7px;
}

.list__endprice--ul02 span {
    font-weight: 700;
    margin-left: 70px;
}

.list__endprice--full {
    display: flex;
    justify-content: space-between;
}

.list__endprice--full--itog {
    font-weight: 900 !important;
}

.endprice__full {
    border-top: #e8eaef 1px solid;
    border-bottom: #e8eaef 1px solid;
    padding: 15px !important;
    margin-top: 10px;
}

.historyno__searchform-dates--top {
    display: flex;
}

.historyno__searchform-input-datefrom {
    position: relative;
    top: 5px;

    -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    color: #ffffff;
}

/* Убираем стрелочки у дат */
.historyno__searchform-input-datefrom,
.historyno__searchform-input-dateto {
    margin-left: 10px;
    width: 175px;
    height: 38px;
    cursor: pointer;
    outline: none;
    padding-left: 15px;
    border: #dee0e6 1px solid;
    background: url(../images/icon/svg/calendar.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 86% 50%;
}

.histor__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.delivery__content {
    margin-left: auto;
    margin-right: auto;
}

.historyno__searchform-datefrom--flex {
    display: flex;
}

/* коней таблицы */
/* Таблица избранное начало */
.postponed-table {
    margin-top: 25px;
}

.postponed-table__header {
    white-space: nowrap;
    font-size: 13px;
    font-weight: 700;
    background-color: #e8eaef;
    line-height: 38px;
    padding-left: 10px;
}

.postponed-table__header th {
    padding: 0;
    text-align: left;
    padding-left: 8px;
}

.postponed-table__images {
    border: #e8eaef 1px solid;
    margin-left: 5px;
    margin-top: 15px;
}

.postponed-table__description {
    font-size: 13px;
    font-weight: 400;
    max-width: 285px;
}

.postponed-table__btn-add-cart {
    width: 170px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 500;
    background: url(../images/icon/svg/shopping-cart-yellow.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 15px center;
    padding-left: 15px;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: #f7bb03 1px solid;
    cursor: pointer;
    outline: none;
}

.postponed-table__btn-add-cart:hover {
    background: #f7bb03 url(../images/icon/svg/shopping-cart.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 15px center;
}

.postponedtable__old-price {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    margin: 0;
}

.postponed-table__new-price {
    font-size: 15px;
    font-weight: 900;
    margin: 0;
}

.postponed-table__btn-delete {
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    background: url(../images/icon/svg/ic_close_48px.svg);
    background-position: center center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.postponed-table__name {
    width: 298px;
    padding-left: 15px;
}

.pop-up__choosecitycity--input {
    display: none;
    position: absolute;
    background-color: white;
    margin-left: 24px;
    margin-top: -22px;
    border: 1px solid #979797;
    z-index: 999;
}

.pop-up__choosecitycity--list {
    padding-left: 10px;
}

.pop-up__choosecitycity--list li {
    margin: 5px;
}

.checkbox01-custom {
    display: none;
}

.checkbox02-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.checkbox02-custom,
.label01 {
    display: inline-block;
    vertical-align: middle;
}

.checkbox01-custom:checked+.checkbox02-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #7ed321;
    border-radius: 2px;
}

.item-wrapper__favorites {
    width: 174px;
    border: solid 1px #979797;
}

.item__image-star--favorites {
    width: 15px;
}

.item-quantity__image--favorites {
    width: 30px;
    padding-left: 10px;
    margin: 5px;
}

.item-image-img__favorites {
    width: 150px;
}

.item-image__favorites--img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.item-quantity__container-favorites {
    display: flex;
    width: 80px;
    background: #e8eaef;
    align-items: center;
}

.item-quantity__favorites-span {
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px;
}

.item-bonus__favorites-container {
    margin-left: 25px;
    width: 90px;
    height: 30px;
    background: #fdf1cd;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 33px;
}

.item-price__favorites--span {
    font-weight: 900;
    font-size: 22px;
    padding-left: 25px;
}

.item-about__favorites--text {
    font-size: 15px;
    font-weight: 700;
    margin-left: 15px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.item-stars-and-reviews__favorites {
    margin-left: 15px;
    margin-bottom: 15px;
}

.item-stars-and-reviews-link__favorites {
    font-size: 12px;
    text-decoration: underline;
    color: #a8a8a8;
    padding-left: 10px;
    display: inline;
}

.item-image__favorites {
    margin-bottom: 15px;
    margin-top: 15px;
}

.favorites-container {
    display: flex;
}

.favorites-specifications {
    font-size: 15px;
    font-weight: 700;
}

.favorites-delivery {
    font-size: 15px;
    color: grey;
    font-weight: 600;
}

.favorites-delivery__home {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.favorites-delivery__shop {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.favorites-container__product {
    margin-right: 90px;
}

.favorites-delivery__sort01 {
    margin-top: 133px;
}

.favorites-container__product--df {
    display: flex;
    margin-left: 34px;
    margin-bottom: 50px;
}

.item-about__favorites--cancel {
    border: 1px solid white;
    background-color: transparent;
    height: 30px;
    display: flex;
}

.item-about__favorites--cancel:hover {
    border: 1px solid black;
}

.item-about__favorites--cancel::before {
    display: block;
    content: "";
    background-image: url("../images/icon/svg/cancel.svg");
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
    margin-right: 15px;
}

.item-about__favorites--black-line {
    height: 370px;
    border: solid 1px #979797;
    margin-left: 19px;
}

.favorites-tble__info {
    padding-top: 33px;
}

.checkbox01 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.table-favorites {
    border-collapse: separate;
    margin-bottom: 100px;
}

.item-price__favorites--span-underlined {}

.favorites-container__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.favorites-specifications__skill {
    margin-bottom: 100px;
    margin-top: 100px;
}

.favorites-specifications {
    margin-bottom: 17px;
}

.favorites-specifications__skill--info {
    margin-top: 197px;
}

.reviews-head--title {
    margin-top: 15px !important;
}

.reviews-head--form {
    margin-top: 15px;
}

.header-search__popup {
    position: absolute;
    left: 678px;
    width: 423px;
    border: #dcdee4 1px solid;
    top: 112px;
    background-color: #ffffff;
}

.header-search__popup ul {
    list-style: none;
}

.header-search__popup ul li {
    margin: 12px;
}

/* Звезды */
.rating {
    border: none;
    display: block;
    margin-right: auto;
    position: relative;
    width: 250px;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}


.rating>input:checked~label,

.rating:not(:checked)>label:hover,

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}



.rating>input:checked+label:hover,

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

.rating>input:checked~label:hover~label {
    color: #FFED85;
}

/*  Таблица изранное конец */
/* адаптив */
@media (max-width: 420px) {
    .list__delivery {
        width: 69%;
        margin-left: auto;
        margin-right: auto;
    }

    .prodyct__table--imges {
        width: 40px;
        margin: 5px;
    }

    td.prodyct__table--discr {
        width: 78px;
        font-size: 10px;
    }

    td.prodyct__table--stock {
        width: 25px;
        font-size: 11px;
    }

    .td.prodyct__table--price {
        width: 25px;
        font-size: 11px;
    }

    .td.prodyct__table--allprice {
        width: 70px;
        font-size: 12px;
    }

    td.prodyct__table--img {
        width: 50px;
    }

    .prodyct__table--ilst {
        width: 305px;
        margin-left: auto;
        margin-right: auto;
    }

    .historyno__searchform-input-datefrom {
        margin-left: 0;
    }

    .historyno__searchform-input-dateto,
    .historyno__searchform-input-datefrom {
        width: 135px !important;
        margin-left: auto;
        margin-right: auto;
    }

    td.prodyct__table--price {
        width: 62px;
        font-size: 11px;
    }

    td.prodyct__table--allprice {
        width: 55px;
        font-size: 12px;
    }

    .historyno__searchform-wrapper-flex {
        display: block !important;
    }

    .historyno__searchform-datefrom--flex {
        display: flex;
    }

    .historyno__searchform-dates--top {
        display: block;
    }

    .historyno__searchform-input-dateto {
        margin-left: auto !important;
        margin-right: 110px !important;
    }

    .historyno__searchform-input-datefrom {
        margin-left: auto !important;
    }

    .b-popup-content-city-03 {
        width: 315px !important;
    }

    .small-img {
        left: 0 !important;
    }

    .popup03__container--title {
        margin-right: 20px;
    }

    .btn__show--3d {
        left: 186px !important;
    }

    .btn__show--video {
        left: 178px !important;
    }

    .show {
        width: 305px !important;
    }

    .tools__info {
        left: -19px !important;
    }

    .button__prodyct--like {
        right: 619px !important;
    }

    .case__info {
        left: -16px !important;
    }

    .buy__item--info {
        right: 687px !important;
    }

    .b-popup-content-city {
        width: 305px !important;
        height: 525px !important;
    }

    .choosecitycity--city {
        width: 255px !important;
    }

    .choosecity__maybe {
        width: 260px !important;
    }

    .choosecity--footer {
        width: 245px !important;
    }

    .choosecity__all--list {
        flex-wrap: wrap;
    }

    .b-popup-content-city-02 {
        width: 305px !important;
        height: 488px !important;
    }

    .content-city02--title {
        font-size: 12px !important;
    }

    .buy-card--info-01 {
        width: 310px;
        height: 270px;
    }

    .postponed-table__new-price {
        font-size: 11px;
    }

    .postponedtable__old-price {
        font-size: 10px;
    }

    .postponed-table__header {
        font-size: 7px;
    }

    .postponed-table {
        width: 315px !important;
    }

    .amount-res input {
        width: 19px;
        font-size: 10px;
    }

    .postponed-table__images {
        width: 35px;
    }

    .amount-res a {
        width: 15px;
        height: 30px;
        font-size: 16px;
    }

    .postponed-table__btn-add-cart {
        font-size: 11px;
        width: 75px;
        text-align: right;
        background-size: 0;
    }

    .pop-up__choosecitycity--input {
        width: 252px !important;
    }
}

@media (max-width: 550px) {
    .buy-card--info-01 {
        width: 310px;
        height: 270px;
    }

    .best-price--info-01 {
        margin-left: 50px;
    }

    .btn-yellow--info-01 {
        top: 25px;
        left: 35px;
    }

    .btn-clear--info-01 {
        left: 55px;
    }

    .shipping__info--title-02 {
        width: 310px;
    }

    .shipping__info-01 {
        width: 310px;
    }

    .shipping__advantages--img-01 {
        width: 309px;
        height: 400px;
        display: block;
    }

    .prodyct__info--02 {
        display: block;
    }

    .shipping__advantages--desc-01,
    .shipping__advantages--desc-02,
    .shipping__advantages--desc-03 {
        margin-left: auto;
        margin-right: auto;
    }

    .list__delivery {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .list__endprice--ul {
        text-align: center;
        width: 100%;
    }

    th {
        padding: 5px;
    }

    .prodyct__table--title {
        font-size: 13px;
        white-space: nowrap;
    }

    .b-popup-content-city-03 {
        width: 410px;
        height: 1015px;
    }

    .b-popup-city,
    .b-popup-city--choosecitycity,
    .b-popup-city__02,
    .popup__prodyct-cart {
        overflow-y: scroll;
    }

    .button__prodyct--like {
        position: relative;
        right: 490px;
        display: flex;
        top: 415px;
    }

    .buy__item--info {
        position: relative;
        margin-left: auto;
        right: 665px;
        top: 470px;
        width: 257px;
    }

    .popup03__container--title {
        font-size: 15px;
    }

    .small-img {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .tools__info {
        top: 160px;
        left: -114px;
    }

    .show {
        margin-top: 160px;
        right: 314px;
    }

    .case__info {
        top: 212px;
        left: -110px;
    }

    .sale-percent__info {
        left: 220px;
        top: 165px;
    }

    .btn__show--video {
        left: 246px;
        top: 91px;
    }

    .btn__show--3d {
        left: 250px;
        top: 91px;
    }

    .small-img {
        left: 35px;
        position: relative;
    }

    .button__prodyct--like {
        right: 714px;
        top: 93px;
    }

    .buy__item--info {
        right: 735px;
        top: 570px;
    }

    .b-popup-content-city-03 {
        height: 1130px;
    }

    .b-popup-content-city {
        width: 415px;
        height: 395px;
    }

    .choosecitycity--city {
        width: 362px;
    }

    .choosecity__maybe {
        width: 365px;
    }

    .choosecity--footer {
        width: 365px;
    }

    .b-popup-content-city-02 {
        width: 410px;
        height: 420px;
    }

    .postponed-table {
        width: 400px;
    }

    .postponed-table__images {
        width: 50px;
    }

    .favorites__main-wrapper {
        margin-left: 5px;
    }

    .postponed-table__new-price {
        text-align: center;
    }

    .postponedtable__old-price {
        text-align: center;
    }

    .postponed-table__btn-add-cart {
        font-size: 11px;
        width: 89px;
        text-align: right;
        background-size: 15px 15px;
    }

    .pop-up__choosecitycity--input {
        width: 359px;
        margin-left: 26px;
    }

    .favorites-specifications__skill,
    .favorites-specifications,
    .favorites-specifications__skill--info {
        text-align: center;
    }

    .checkbox01 {
        margin-left: 15px;
    }

    .item__image:hover .b-popup {
        width: 318px !important;
    }
}

@media (min-width: 550px) {
    .container {
        max-width: 540px;
    }

    .small-img {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-top: 100px;
        position: relative;
        right: 100px;
    }

    .show-small-img {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    .show {
        right: 200px;
    }

    .case__info {
        top: 55px;
        left: 5px;
    }

    .btn__show--video {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    .btn__show--3d {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    .b-popup-content-city {
        width: 528px;
        height: 395px;
    }

    .pop-up__choosecitycity--input {
        width: 478px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 597px) {

    .list__endprice--ul,
    .list__endprice--ul02 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 740px) {
    .historyno__searchform-input-dateto {
        margin-top: 5px !important;
    }

    .historyno__searchform-quantity-wrapper {
        margin-top: 5px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .historyno__searchform-dates--top {
        margin-left: auto;
        margin-right: auto;
    }

    .gallery__prodyct--img-01 {
        display: block;
    }

    .prodyct__info--01 {
        margin-bottom: 55px;
    }
}

@media (max-width: 740px) and (min-width: 550px) {
    .container {
        max-width: 960px;
    }

    .delivery__content {
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .list__delivery {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery__prodyct--img-01 {
        display: block;
    }

    .prodyct__info--01 {
        margin-bottom: 55px;
    }

    .item__image:hover .b-popup {
        width: 318px !important;
    }
}

@media (max-width: 747px) and (min-width: 550px) {
    .b-popup-content-city-03 {
        width: 530px;
        height: 1015px;
    }

    .b-popup-city,
    .b-popup-city--choosecitycity,
    .b-popup-city__02,
    .popup__prodyct-cart {
        overflow-y: scroll;
    }

    .button__prodyct--like {
        position: relative;
        right: 490px;
        display: flex;
        top: 415px;
    }

    .buy__item--info {
        position: relative;
        margin-left: auto;
        right: 665px;
        top: 470px;
        width: 257px;
    }

    .b-popup-content-city-02 {
        width: 550px;
        height: 317px;
    }

    .gallery__prodyct--img-01 {
        display: block;
    }

    .prodyct__info--01 {
        margin-bottom: 55px;
    }

    .postponed-table {
        width: 515px;
    }

    .favorites__main-wrapper {
        margin-left: 15px;
    }

    .postponed-table__images {
        width: 70px;
        height: 93px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 747px) {
    .postponed-table__images {
        width: 115px;
        height: 130px;
    }
}

@media (max-width: 992px) and (min-width: 748px) {
    .list__delivery {
        width: 95%;
        margin-left: 10px;
    }

    .b-popup-content-city-03 {
        width: 530px;
        height: 1015px;
    }

    .b-popup-city,
    .b-popup-city--choosecitycity,
    .b-popup-city__02,
    .popup__prodyct-cart {
        overflow-y: scroll;
    }

    .button__prodyct--like {
        position: relative;
        right: 490px;
        display: flex;
        top: 415px;
    }

    .buy__item--info {
        position: relative;
        margin-left: auto;
        right: 665px;
        top: 470px;
        width: 257px;
    }

    .b-popup-content-city-02 {
        width: 710px;
    }

    .gallery__prodyct--img-01 {
        display: block;
    }

    .prodyct__info--01 {
        margin-bottom: 55px;
    }

    .postponed-table {
        width: 715px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .postponed-table {
        width: 822px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .list__delivery {
        width: 100%;
    }
}

@media (max-width: 1240px) {
    .favorites__wrapper-flex {
        display: block;
    }

    .favorites__main-wrapper {
        margin-top: 50px;
    }

    .favorites-container__product--wrap {
        margin-left: auto;
        margin-right: auto;
    }

    .item__image:hover .b-popup {
        width: 220px;
    }
}

.inner228 
{
	width: 70px; 
	height: 70px;
	margin: 5px;
}
#small-img-roll 
{
	transition: transform 300ms ease-in-out;
}
.loader-ajax
	{
		border :5px solid grey;
		border-top: 5px solid #f7bb03;
		border-bottom: 5px solid #f7bb03;
		width: 35px !important;
		height: 35px !important;
		right: -15px;
    	top: 15px;
		border-radius: 50%;
		animation: spin 2s linear infinite;
	}
@keyframes spin {
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(360deg);
	}
}
.b-popup .b-popup-content,
.b-popup-content-city {
    margin: 214px auto 0px auto;
    transform-origin: top center ;
    opacity: 0; 
    animation: show 300ms 1 ease-in-out forwards 1ms;
}

@keyframes show{
    0%
    {
        opacity: 0;
        transform: scale(0.1);
    }
    30%
    {
        opacity: 0.5;
    }
    60%
    {

        opacity: 0.7;
    }
    100%
    {
        opacity: 1;
        transform: scale(1);
    }
}

.b-popup-content-city-03
{
    transform: rotate(-50deg);
    transform-origin: center center ;
    opacity: 0; 
    animation: show-cart 300ms 1 ease-in-out forwards ;
}
@keyframes show-cart{
    0%
    {
        opacity: 0;
        transform: scale(1,0);
    }
    
    
    100%
    {
        
        opacity: 1;
        transform: scale(1,1);
    }
}
.choosecitycity__cancel001 {
    width: 15px;
    right: 16px;
    height: 15px;
    top: 15px;
    position: relative;
    border: 0;
    background-color: transparent;

}
.pop-up--choosecitytitle001 {
    margin-top: 10px;
    margin-left: 15px;
}
.hiddenTabsDesc
{
    transform-origin: center top ;
    opacity: 0; 
    animation: show-cart 300ms 1 ease-in-out forwards ;
}
.reviews__comment
{
    transform-origin: center top ;
    opacity: 0; 
    animation: show-cart 300ms 1 ease-in-out forwards ;
}

/* end */