* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.show {
  width: 400px;
  height: 400px;
  margin-left: 19px;
  border: 1px solid #979797;
  z-index: 999999;
}

#show-img {
  width: 400px;
  height: 400px;
}

.small-img {
  width: 285px;
  height: 70px;
  margin-left: 15px;
}

.small-img .icon-left,
.small-img .icon-right {
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.small-img .icon-left {
  transform: rotate(180deg)
}

.small-img .icon-right {
  right: 0;
}

.small-img .icon-left:hover,
.small-img .icon-right:hover {
  opacity: .5;
}

.small-container {
  width: 225px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.small-container div {
  /*width: 800%;*/
  position: relative;
}

.small-container .show-small-img {
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}

.small-container .show-small-img:last-of-type {
  margin-right: 0;
}

.gallery__prodyct--img {
  display: flex;
  padding-top: 50px;
}