.social_button a {
    display: block;
    width: 30px;
    height: 31px;
    background: url('images/social.png') no-repeat;
    position:absolute;
    top:0px;
    left:0px;
}
.social_button {
    height: 31px !important;
    list-style: none !important;
    margin: 0;
    padding:5px 0px;
}
.social_button li {
    float: left;
    margin-right: 4px;
    position: relative;
    width:30px;
    height:31px;
}
.social_button .FB_icon {background-position: 0 0;}
.social_button .TW_icon {background-position: -30px 0;}
.social_button .VK_icon {background-position: -60px 0;}
.social_button .OK_icon {background-position: -90px 0;}